@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor, lectus in bibendum ullamcorper, neque neque tempor metus, consectetur elementum magna velit in velit. Vivamus ipsum velit, volutpat eget semper eu, consequat ac felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper dapibus dolor sit amet scelerisque. Nunc sodales ac neque aliquam tincidunt. Curabitur libero eros, luctus vitae consequat id, congue eget orci. Quisque bibendum sodales nibh, in dictum quam volutpat vel. Etiam ac dolor vestibulum, interdum sapien a, dapibus risus. Donec malesuada tincidunt lectus, sit amet cursus ante pellentesque ut. Nullam eu massa interdum, lobortis tortor eget, vehicula odio. Vivamus auctor ante non sem faucibus feugiat.

Sed at magna a neque porta rhoncus. Sed ac libero sit amet elit gravida tempor. Nullam aliquam tortor non urna molestie, ac pretium ipsum blandit. Proin nibh arcu, volutpat et porta ac, placerat et libero. Aenean erat nibh, pulvinar id massa et, posuere porta leo. Donec id varius ipsum. In mollis, nibh id feugiat porttitor, eros tortor dictum nunc, ut aliquam eros risus quis velit. Morbi molestie sit amet felis dapibus vehicula. Aenean sit amet odio porttitor, dignissim leo non, ultricies arcu. Quisque vitae nibh malesuada magna tincidunt egestas. Etiam adipiscing.