@{
    ViewBag.Title = "Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingredienser</h2>
<input type="button" onclick="location.href='CreateEditIngredient'" value="Opret ingrediens" class="x-submit"/>