@model MealMaster.Models.IngredientListModel
@{
    ViewBag.Title = "Ingredienser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingredienser</h2>
<input type="button" onclick="location.href='CreateEditIngredient'" value="Opret ingrediens"/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Energi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model.Ingredients)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.Description</td>
                <td>@ingredient.EnergyInKcal</td>
            </tr>
        }
        <tr></tr>
    </tbody>
</table>

@*<input type="button" onclick="location.href='IngredientsList?pageNo=@Model.NextPageNo'" value="Næste side"/>*@