
/*Top Menu bar*/
.x-menu-bar {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 5px 6px 10px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #004711,  #C5FF05);
  background: -ms-linear-gradient(top,  #004711,  #C5FF05);
  background: -webkit-gradient(linear, left top, left bottom, from(#004711), to(#C5FF05));
  background: -moz-linear-gradient(top,  #004711,  #C5FF05);
  border: solid 1px #000000;
  position:relative;
  z-index:999;
  display: inline-block;
}
.x-menu-bar li {
  margin: 0px 0px 0px 0px;
  padding: 0px 6px 0px 15px;
  float: left;
  position: relative;
  list-style: none;
}
.x-menu-bar a {
  font-weight: bold;
  font-family: helvetica;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 1px 6px #000000;
}
.x-menu-bar li ul li a {
  margin: 0;
}
.x-menu-bar .active a, #menu-bar li:hover > a {
      color: #000000 !important;
  /*background: #FFFFFF;
  background: linear-gradient(top,  #FFFFFF,  #C5FF05);
  background: -ms-linear-gradient(top,  #FFFFFF,  #C5FF05);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#C5FF05));
  background: -moz-linear-gradient(top,  #FFFFFF,  #C5FF05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 0px #000000;*/
}
.x-menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.x-menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
.x-menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 40px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
.x-menu-bar li:hover > ul {
  display: block;
}
.x-menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
.x-menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:italic;
  font-family:helvetica;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
.x-menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
.x-menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
.x-menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}


/*Forms*/
.x-formrow input {
	border:2px solid #000000;
	border-radius:14px;
	height: 30px;
	width: 300px;
    margin-bottom: 20px;
    padding-left: 5px;
}

input[readonly="readonly"]{
    background-color: #ccff7a;
	border:2px solid #000000;
	border-radius:14px;
	height: 30px;
	width: 300px;
    margin-bottom: 20px;
    padding-left: 5px;
}


.x-formrow textarea {
	border:2px solid #000000;
	border-radius:14px;
	height: 100px;
	width: 300px;
    margin-bottom: 20px;
    padding-left: 5px;
    }

.x-container {
    background-color: #ccff7a;
    border:2px solid #000000;
	border-radius:14px;
    margin-bottom: 20px;
    padding: 30px;
    width: 700px;
}

div.x-formrow {float:left;width:100%;}
div.x-formrow label {float:left;display:block;width:10em;font-weight:bold;}

input[type=submit], input[type=button]{
  font-family: helvetica;
   font-weight: bold;
  color: #FFFFFF !important;
  font-size: 16px;
  text-shadow: 1px 1px 1px #000000;
  box-shadow: 1px 1px 1px #000000;
  padding: 6px 25px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 2px solid #000000;
  background: #63B8EE;
  background: linear-gradient(top,  #004711,  #C5FF05);
  background: -ms-linear-gradient(top,  #004711,  #C5FF05);
  background: -webkit-gradient(linear, left top, left bottom, from(#004711), to(#C5FF05));
  background: -moz-linear-gradient(top,  #004711,  #C5FF05);
    margin-bottom: 10px;
}
input[type=submit]:hover, input[type=button]:hover {
  color: #000000 !important;
  background: #FFFFFF;
  background: linear-gradient(top,  #FFFFFF,  #C5FF05);
  background: -ms-linear-gradient(top,  #FFFFFF,  #C5FF05);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#C5FF05));
  background: -moz-linear-gradient(top,  #FFFFFF,  #C5FF05);
}

.field-validation-error {
    color:red
}

/*Table*/
.x-table {
	margin:0px;padding:0px;
    width: 100%;
    table-layout: fixed;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.x-table  tr:nth-child(odd){ background-color:#d3ffbc; }
.x-table  tr:nth-child(even)    { background-color:#ffffff; }
.x.table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:13px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.x-table div {

    overflow: hidden;
    max-width: 200px;
}

.x-table tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #c5ff05 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c5ff05) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #c5ff05 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c5ff05");	background: -o-linear-gradient(top,#ffffff,c5ff05);

	background-color:#ffffff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#000000;
    height: 40px;
}
.x-table  tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #c5ff05 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c5ff05) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #c5ff05 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c5ff05");	background: -o-linear-gradient(top,#ffffff,c5ff05);

	background-color:#ffffff;
}
.x-row-hover:hover td{ background-color: #c5ff05 }

/*Div Table*/
.x-div-table {
	margin:0px;padding:0px;
    width: 1050px;
    table-layout: fixed;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
}
/*.x-div-table   div:nth-child(odd){ background-color:#d3ffbc; }
.x-div-table   div:nth-child(even)    { background-color:#ffffff; }*/

	.x-div-table p {
		clear: both;
		width: 100%;
		margin: 0;
		}

    .x-div-table span {
           display: table-cell;
    
		padding: 0 10px;
		border-left: 1px solid #e3e7e7;
		border-bottom: 1px solid #e3e7e7;
        overflow: hidden;
        white-space:normal;
        height: 40px;
        word-break: break-all;
        vertical-align: middle;
    }

.x-div-table span.x-title-col {
    width: 270px;
    font-weight: bold;
}

.x-div-table span.x-desc-col {
    width: 270px;
}

.x-div-table span.x-value-col {
    width: 100px;
}


.x-div-table p.x-header{
		background:-o-linear-gradient(bottom, #ffffff 5%, #c5ff05 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c5ff05) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #c5ff05 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c5ff05");	background: -o-linear-gradient(top,#ffffff,c5ff05);

	background-color:#ffffff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#000000;
    height: 40px;
}
/*.x-div-table   div:first-child:hover div{
	background:-o-linear-gradient(bottom, #ffffff 5%, #c5ff05 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #c5ff05) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #c5ff05 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c5ff05");	background: -o-linear-gradient(top,#ffffff,c5ff05);

	background-color:#ffffff;
}*/
/*.row:hover{ background-color: #c5ff05 }*/

footer {
    color: #666666;
    text-align: center;
    margin-top: 30px;   
}



